@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  }
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;   
 }
ul li
{
  list-style: none;
}
ul li a
{
  position: relative;
  display: inline-block;
  margin: 10px 0;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff
}
